*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:#303030;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    height: 4000px;
}

.container{
    max-width: 1500px;
}

.clear{
    clear: both;
}

.button-to-top{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.button-to-top a{
    color: white;
    text-decoration: none;
}

.button-to-top h3{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/***MENU OFFCANVA***/

.offcanvas{
    max-width: 300px;
    background:#424242;
}

.offcanvas-header{  /*RESET*/
    padding: 0;
}

.offcanvas-header a{
    margin: 10px 0px 10px 16px;
}

.offcanvas-body{  /*RESET*/
    padding: 0;
}

.offcanvas-body h6{
    font-size:13px;
    padding: 0px 16px;
    height: 30px;
    margin: 0;
    line-height: 30px;
}

.btn-close {
    color: white;
    background: url(../images/times-solid.png) center/1em auto no-repeat;
    position: relative;
    right: 15px;
}

.mount{
    margin-top:-10px;
    width: 100%;
    padding: 8px 16px;
}

.mount:hover{
    background: #222222;
}

.mount:hover > .mount-link:hover{
    color: white;
    text-decoration: none;
}

.mount-link{
    color: white;
    text-decoration: none;
    padding: 8px 0px;
    display: block;
    margin-top: 7px;
}

ul.categorias_offnav{
    padding: 8px 0px;
    margin: 0;
}

ul.categorias_offnav li.list_offnav{
    padding: 12px 16px;
    cursor: pointer;
}

ul.categorias_offnav li.list_offnav:hover{
    background:#222222;
}

ul.categorias_offnav li.list_offnav a{
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

ul.categorias_offnav li.list_offnav a div.item_offnav{
    display: flex;
    justify-content: space-between;
}

.hardware{
    display: none;
}

.subitems_offnav{
    list-style-type: none;
    padding: 0;
    background: #303030;
}

.subitems_offnav li{
    padding: 8px 16px;
    cursor: pointer;
}

.subitems_offnav li:hover{
    background:#222222;
}

.subitems_offnav li a{
    color: white;
    text-decoration: none;
    width: 100%;
}

.subitems_offnav li a span{
    width: 100%;
    display: block;
}




/*** HEADER ***/
header.mobile{
    display: none;
}
header{
    padding: 20px 0;
}

.logo{
    height: 50px;
}

.log-header{
    font-size: 10px;
    display:flex;
    align-items: center;
    height: 60px;
    justify-content: flex-end;
    position: relative;
    right: 50px;
}

.log-header a i{
    width: 25px;
    height: 25px;
    font-size: 17px;
    padding-left: 4.5px;
    margin-right: 8px;
    padding-top: 3px;
    background-color: red;
    border-radius: 25px;
    float: left;
    color: black;
}

.log-header a i#user{
    width: 25px;
    height: 25px;
    font-size: 17px;
    padding-left: 4.5px;
    padding-top: 3px;
    margin-top: 5px;
    background-color: red;
    border-radius: 25px;
    float: left;
    color: black;
}

.log-header i#dark{
    width: 25px;
    height: 25px;
    font-size: 30px;
    padding-left: 0px;
    margin-top: 0px;
    background-color: transparent;
    border-radius: 25px;
    float: left;
    color: red;
}

.test-header {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    text-align: left;
}

.test-header strong{
    font-size: 12px;
}

.test-header a{
    text-decoration: none;
    color: white;
}

div.wwf{
    width: 150px;
}

div.wwf2{
    width: 100px;
    margin-left:30px;
}

button.cart{
    display: flex;
    width: 210px;
    height: 60px;
    background:green;
    border: 1px solid green;
    border-radius: 5px;
    float: right;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

button.cart:hover{
    cursor: pointer;
    background-color: #006E1D;
}

button.cart h2{
    line-height: 40px;
    font-size: 20px;
}

button.cart .content-car h2{
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    text-transform:uppercase;
    line-height: 30px;
    text-align: right;
}

button.cart .content-car span{
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 13px;
}

button.btn-product{
    width: 100%;
    background-color: brown;
    border: none;
    border-radius: 5px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
}

button.btn-product span strong{
    font-size: 20px;
}

button.btn-product h2{
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.input-ctrl{
    background: #424242;
    height: 50px;
    position: relative;
    top: 5px;
    border-radius: 5px;
}

.input-ctrl h2{/***SEARCH ICON***/
    float: right;
    font-size: 16px;
    position: relative;
    top: 15px;
    right: 10px;
}

.input-ctrl input{
    width: 90%;
    background: #424242;
    color: #ccc;
    border: none;
    height: 50px;
    outline: none;
    padding-left: 8px;
    border-radius: 5px;
}

.input-ctrl input::placeholder{
    color: rgb(143, 143, 143);
    font-weight: bold;
}

.input-ctrl input:focus{
    border: 0;
}

.input-ctrl input:active{
    border: 0;
}

/*End Header*/

/*** HEADER MOBILE ***/

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 10px 0px;
}

.header-flex h2{
    margin: 0;
}

.header-flex a{
    text-align: center;
    display: inline;
}

.header-right-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
}

.sun-mobile h2{
    font-size: 20px;
}

.cart-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
}

.cart-mobile h2{
    font-size: 18px;
    margin-left:10px;
}

/*** Sessao top ***/

section.bg-top{
    background: #222;
}

section.bg-top .img-bg{
    background-image:url("../images/bg-site-arraia2021.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 450px;
}

section.boxes{
    padding: 30px 0;
}

section.boxes .box-content{
    display: flex;
    height: 140px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

section.boxes .box-content span{
    font-size: 12px;
 }

section.boxes .box-content span strong{
   font-size: 25px;
}

section.boxes .box-content h2.img-box{
    height: 140px;
    line-height: 150px;
    font-size: 50px;
    width: 28%;
    text-align: center;
    position: relative;
    top: 4px;
    left: -1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box-content span{
    text-align: center;
    width: 65%;
}

.gamer{
    background-color: black;
}

.gamer .img-box{
    background-color: #202020;
}

.work-station{
    background-color: #133275;
}

.work-station .img-box{
    background-color: #345AAD;
}

.home{
    background-color: #1E4611;
}

.home .img-box{
    background-color: #33751E;
}

.config{
    background-color: red;
}

.config .img-box{
    background-color:#C2281E;
}

/*End sessao topo*/

/*** Section New Products ***/

section.products{
    padding: 30px;
}

section.products .header-product h2{
    padding: 10px;
    text-transform: uppercase;
    font-size: 25px;
}

section.products .header-product h2 i{
    color: red;
    margin-right: 10px;
}

section.products .item-product{
    width: 100%;
    margin-top: 20px;
}

section.products .item-product img{
    width: 100%;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}

section.products .item-product img:hover{
    opacity: 1;
}

section.products .item-product .item-detail{
    width: 100%;
    padding: 15px;
}

section.products .item-product .item-detail h2{
    width: 100%;
    font-size: 18px;
    margin: 0;
}

section.products .item-product .item-detail span{
    width: 100%;
    font-size: 18px;
    margin-top: 0px;
}

section.products .item-product .item-detail span strong{
    font-size: 24px;
    color: rgb(91, 175, 6);
}

section.products .item-product .item-detail div.line{
    height: 2px;
    background-color: red;
    width: 30px;
    margin: 10px 0;
}

section.products .item-product .item-detail p{
    width: 100%;
    font-size: 12px;
    margin: 0;
}

.product-history{
    margin-left: 20px;
    max-width: 130px;
}

.product-history img{
    border-radius: 50%;
    width: 100%;
}

/*** PRE FOOTER ***/

section.pre-footer{
    padding: 30px 0px 0px 0px;
    background:#1F2023;
}

section.pre-footer .atendimento{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: #3A3A3D;
    height: 90px;
    border-radius: 5px;
}

section.pre-footer .atendimento .horario-loja-virtual{
    display:flex;
    align-items: center;
    margin-top: 10px;
}

section.pre-footer .atendimento .horario-loja-virtual i{
    color: red;
}

section.pre-footer .atendimento .horario-loja-virtual h3{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 8px;
}

section.pre-footer .atendimento .horario-loja-virtual p{
    margin:0;
}

section.pre-footer .atendimento .horario-loja-virtual p strong{
    height: 10px;
}

section.pre-footer .atendimento .horario-loja-virtual a{
    text-decoration: none;
    color: white;
}

section.pre-footer .location{
    background: #E90313;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

section.pre-footer .location h2{
    font-size: 22px;
}

section.pre-footer .location h3{
    background-color: white;
    display: inline;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.pre-footer .location i{
    color: red;
}

section.pre-footer .location div.line{
    height: 50px;
    width: 2px;
    background-color: white;
    margin: 0 5px;
}

section.pre-footer .location .atendimento-hrs p{
    font-size: 14px;
    margin:0;
}

.between-section{
    position: relative;
    top: -75px;
}

/***Links Uteis(institucional, duvidas e ajuda)***/

.links-uteis{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 15px 15px;
    position: relative;
    top: -40px;
}

.link-footer-title{
    color: red;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.links-uteis .pre-footer-menu ul{
    list-style-type: none;
    padding-left: 0;
}

.links-uteis .pre-footer-menu ul li{
    text-align: left;
    margin-top: 10px;
}

.links-uteis .pre-footer-menu ul li a{
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.links-uteis .pre-footer-menu ul li a:hover{
    text-decoration: underline;
}

.pre-footer .line{
    width: 10px;
    height: 2px;
    background: red;
    margin-bottom: 1rem;
}

/***PAGAMENTO***/

.pagamento{
    padding: 15px 0px;
    position: relative;
    top: -40px;
}

.pagamento ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagamento li{
    width: 45%;
    background-color: white;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.pagamento li img{
    width: 100%;
    padding: 0;
}

/***NEWSLETTER***/

.newsletter{
    padding: 15px;
    position: relative;
    top: -40px;
}

.newsletter p{
    font-size: 14px;
}

.newsletter form{
    display: flex;
    width: 100%;
    height: auto;
}

.newsletter .input-ctrl{
    width: 90%;
    padding:7px 0;
    background: white;
}

.newsletter .input-ctrl input{
    width: 100%;
    margin: 0;
    background: white;
}

.newsletter .input-ctrl input::placeholder{
    color: black;
    font-weight: normal;
}

.newsletter .btn-newsletter button{
    border: none;
    width: 100%;
    padding: 13px;
    background: white;
    margin-top: 5px;
    position: relative;
    left: -5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.newsletter .btn-newsletter button i{
    font-size: 18px;

}

/***NEWSLETTER - Social media***/

.social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
    margin: 15px 0;
}

.social-media p{
    font-size: 14px;
    margin-right: 8px;
}

.social-media h2{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.social-media h2:hover{
    background-color: red;
}

.social-media h2:hover > i{
    color: white;
}

.social-media h2 i{
    color: red;
    font-size: 25px;
}

/*** FOOTER ***/

footer{
    padding: 50px 0;
    background: #000000;
}

footer .copyright-img{
    width: 100%;
    height: 100%;
    padding: 0px 10px 10px 10px;
    display: flex;
    align-items: center;
}

footer .copyright-img img{
    width: 90%;
}

.copyright-text{
   padding: 32px 16px 16px;
}

.copyright-text h2{
    color: red;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.copyright-text span{
    color: white;
    font-size: 14px;
}

.copyright-text div.line{
    background-color: red;
    width: 18px;
    height: 2px;
    margin: 18px 0;
}

.copyright-text p{
    color: rgb(119, 119, 119);
    font-size: 13px;
}

.copyright-text p strong{
    color: rgb(255, 0, 0);
}

/*** Certificados ***/
.certificado{
    padding: 32px 16px 16px;
}

.certificado h3{
    color: red;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
}

.certificado div.line{
    background-color: red;
    width: 18px;
    height: 2px;
    margin: 18px 0;
}

.certificados-img{
    background-color: white;
    border-radius:5px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.certificados-img a{
    padding: 0.5rem;
}

.certificados-img img{
    height: 80%;
    max-width: 120px;
}

/***CART PAGE***/
.bread{
    display: block;
    color: white;
    font-size: 12px;
}

.bread a{
    color: white;
}

.bread i{
    margin: 0px 6px;
}

.cart-bread{
    padding: 20px 0;
    font-size: 1.4rem;
}

.cart-bread i{
    color: red;
    margin: 0px 6px;
}

.cart_content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0rem 1rem;
    flex-direction: column;
}

.cart_content p{
    font-size: 14px;
}

.cart_content div.line{
    width: 100px;
    height: 2px;
    background: red;
    margin-top: 70px;
}







/*** Media Queries ***/

@media screen and (max-width:1250px){
    div.wwf2{
        margin-left: 20px;
    }
}

@media screen and (max-width:1199px){
    .pagamento{
        top: 0px;
    }
    
    .pagamento ul{
        justify-content: space-between;
    }
    
    .pagamento li{
        width: 18%;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .newsletter{
        padding: 15px;
        position: relative;
        top: 0px;
    }

    .certificado h3{
        text-align: center;
    }
    
    .certificado div.line{
        margin: 18px auto;
    }

    footer .copyright-img{
        justify-content: center;
    }

    footer .copyright-img img{
        width: 20%;
    }

    .copyright-text{
        text-align: center;
    }

    .copyright-text div.line{
        margin: 18px auto;
    }
}

@media screen and (max-width:991px){
    section.boxes .box-content{
        margin-top: 20px;
    }
    section.pre-footer .atendimento{
        justify-content: space-evenly;
        height: auto;
        padding: 10px 2%;
        margin-bottom: 10px;
    }

    .pagamento li{
        width: 30%;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media screen and (max-width:960px){ /*MOBILE*/
    header.desktop{
        display: none;
    }

    header.mobile{
        display: block;
    }

    section.bg-top .img-bg{
        background-size: auto 100%;
        height: 300px;
    }

    .product-history{
        margin-left: 10px;
        max-width: 100px;
    }
}

@media screen and (max-width:580px){
    .logo{
        height: 40px;
    }

    section.products{
        padding: 0px;
    }

    section.pre-footer .atendimento{
        justify-content:center;
        padding: 10px 0px;
    }

    section.pre-footer .atendimento > div{
        width: 100%;
        display: block;
        justify-content: center;
    }

    section.pre-footer .atendimento div.horario-loja-virtual p{
        max-width: none;
    }

    section.pre-footer .location{
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px 10px;
    }

    section.bg-top .img-bg{
        background-size: auto 100%;
        height: 250px;
    }

    section.pre-footer .location div.line{
        display: none;
    }

    section.pre-footer .location .atendimento-hrs{
        padding-top: 20px;
    }

    section.pre-footer .location .atendimento-hrs p{
        font-size: 12px;
        margin:0;
    }

    section.pre-footer .location h2{
        font-size: 18px;
    }

    section.pre-footer .atendimento .horario-loja-virtual p{
        font-size: 14px;
        max-width: 120px;
    }

    .between-section{
        position: relative;
        top: -75px;
        margin: 0 2%;
    }

    .product-history{
        margin-left: 0px;
        max-width: 80px;
    }

    .social-media{
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-media p{
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .pagamento li{
        width: 18%;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .certificados-img{
        flex-wrap: wrap;
    }

    .certificados-img img{
        height: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:400px){
    .logo{
        height: 30px;
    }

    section.pre-footer .location{
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section.pre-footer .location > div{
        width: 100%;
        display: flex;
        max-width: none;
        justify-content: center;
    }

    section.pre-footer .location > div.atendimento-hrs{
        width: 100%;
        display: block;
        max-width: none;
        justify-self: center;
        text-align: center;
    }

    .links-uteis .pre-footer-menu ul{
        margin-left: 5px;
    }
}


