/**WHITE MODE***/

:root{
    --background-black:#303030;
    --text-color-white:#fff;
}

body.white{
    color: black;
    background:white;
}

#text-mode-change:before{
    content: "Claro";
}

.white_dark:before{
    content: "ESCURO"!important;
}

.logo-white{
    display: none;
    height: 50px;
}

button.btn-white{
    background-color: white;
    color: black;
}

.header-right-options .icon-black{
    color: black;
}

.icon-white{
    color: white!important;
}

/**MODO WHITE INPUT**/

.input-white{
    background: #ffffff;
}

.input-white input{
    background: #ffffff;
    color: rgb(179, 179, 179);
}

.input-white::placeholder{
    color: rgb(140, 140, 140);
    font-weight: lighter;
}

.input-white input::placeholder{
    color: rgb(182, 182, 182);
    font-weight: lighter;
}

.input-white input:focus{
    border: 0;
}

.input-white input:active{
    border: 0;
}

.form-check .input-white{
    background:white;
}

/**FIM WHITE MODE***/